.container {
  width: 60%;
  margin: 200px auto;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  
}

.city-container {
  border: 1px solid black;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.focus {
  background-color: red;
}
